@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* 
#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


  color: white;
}

h1 {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

input {
  text-align: center;
  width: auto;
  padding: 0.4% 3%;
  justify-self: center;
  margin: 0.5%;
  border-radius: 100px;
  border: none;
  color: black;
  font-size: 1em;
}


.final_url {
  gap: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  visibility: hidden;
}

.bannerimage {
  cursor: pointer;
}

#scrubber {
  cursor: pointer;
}

datalist {
  background-color: red;
}

input[type="range"] {
  -webkit-appearance: none;
  background-color: rgb(141, 141, 141);
  color: #00bbff;
  cursor: pointer;
  height: 0px;
  border-radius: 100px;
  align-items: center;
  display: flex;
  width: 200px;
  margin: 1%;
  padding: 0.3rem 0%;
}

input[type="range"]::-moz-range-thumb,
input[type="range"]::-ms-thumb {
  background-color: #00bbff;
  background: #00bbff;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: #00bbff;
  height: 1rem;
  width: 1rem;
  border-radius: 100px;
  border-color: white;
  border-width: 10px;
  border: 100px;
  outline-color: white;
  outline-width: 4px;
  outline-style: solid;
}

select {
  color: black;
  text-align: center;
  margin: 1%;
  border-radius: 100px;
  font-size: 0.9em;
  padding: 0.3% 3%;
}

option {
  color: black;
  border-radius: 100px;
  text-align: center;
}

label {
  font-size: 0.8em;
}

.subtitle {
  text-align: center;
  font-weight: normal;
}

.subtitle_color {
  color: #00bbff;
}

.bannerimage {
  width: 100%;
  display: flex;
  justify-content: center;
} */
